## 16 Feb SQL Assignment

#### 1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is stored and organized in a manner that facilitates efficient retrieval and management of the data. It typically stores data in tables, which consist of rows and columns.

SQL (Structured Query Language) databases are relational databases that use a structured approach to store data. The data is stored in tables that are related to each other through a common key. SQL databases are suitable for applications that require complex data queries and transactions, such as banking and finance.

NoSQL (Not Only SQL) databases are non-relational databases that store data in a flexible and unstructured way. NoSQL databases are suitable for applications that require high scalability and performance, such as social media and gaming. Unlike SQL databases, NoSQL databases do not enforce strict data consistency and are not suitable for complex transactions.

#### 2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a set of SQL commands used to define and manipulate the structure of a database. The following are some common DDL commands and their uses:

CREATE: used to create a new database object, such as a table, view, or index. For example, the following command creates a new table called "employees":

CREATE TABLE employees (
      id INT PRIMARY KEY,
      name VARCHAR(50),
      age INT,
      salary DECIMAL(10,2)
  );

DROP: used to delete a database object, such as a table, view, or index. For example, the following command drops the "employees" table:

DROP TABLE employees;

ALTER: used to modify the structure of a database object. For example, the following command adds a new column called "address" to the "employees" table:

ALTER TABLE employees ADD COLUMN address VARCHAR(100);

TRUNCATE: used to remove all rows from a table. For example, the following command removes all rows from the "employees" table:

TRUNCATE TABLE employees;

#### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) is a set of SQL commands used to manipulate the data in a database. The following are some common DML commands and their uses:

INSERT: used to add new rows to a table. For example, the following command adds a new employee to the "employees" table:

INSERT INTO employees (id, name, age, salary, address)
  VALUES (1, 'John Doe', 30, 5000.00, '123 Main St');
  
UPDATE: used to modify existing rows in a table. For example, the following command updates the salary of the employee with id 1:

UPDATE employees SET salary = 6000.00 WHERE id = 1;

DELETE: used to remove rows from a table. For example, the following command removes the employee with id 1:

DELETE FROM employees WHERE id = 1;

#### 4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is a set of SQL commands used to retrieve data from a database. The most commonly used DQL command is SELECT, which is used to retrieve data from one or more tables. The SELECT command can be customized to filter, sort, and aggregate the data.

For example, the following command retrieves the name and salary of all employees in the "employees" table:
 
 SELECT name, salary FROM employees;

#### 5. Explain Primary Key and Foreign Key.

A primary key is a column or set of columns in a table that uniquely identifies each row in that table. It ensures that each record in the table is unique and can be easily accessed and modified. Primary keys are often used to establish relationships between tables and enforce data integrity.

A foreign key is a column or set of columns in a table that references the primary key of another table. It establishes a relationship between two tables, allowing data to be joined and queried across tables. Foreign keys ensure that data remains consistent and accurate between related tables by enforcing referential integrity.

For example, consider two tables: "employees" and "departments". The "employees" table may have a column called "department_id" that is a foreign key referencing the primary key of the "departments" table. This ensures that each employee record is associated with a valid department record. By joining the two tables using the foreign key, it is possible to query information about employees and their departments together.

## Done.....